/*

	REM

	Convert values: pixels to rems.

	Usage:

	font-size: rem(16);
	padding: rem(10 5);

*/
@function rem($values) {
  $rem-values: ();
  $rem-base: 16;

  @if 1 == length($values) {
    $rem-values: $values / $rem-base * 1rem;
  }

  @else {
    @for $i from 1 through length($values) {
      $rem: nth($values, $i) / $rem-base;

      @if ( 0 != $rem ) {
        $rem: $rem * 1rem;
      }

      $rem-values: append($rem-values, $rem);
    }
  }

  @return $rem-values;
}
